.brojNijeIspravan {
    -fx-background-color: lightcoral;
    -fx-border-color: lightgrey;
}

.brojIspravan {
    -fx-background-color: palegreen;
    -fx-border-color: lightgrey;
}

.unosNijeIspravan {
    -fx-background-color: lightcoral;
}

.unosIspravan {
    -fx-background-color: honeydew;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: whitesmoke;
}